<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8290097109379786"
     crossorigin="anonymous"></script>
  </head>
  <body style="background-color: rgb(141, 252, 97);">
    <div class="container searchContainer" style="height: 100%;">
      <form action="/" method="post">
        <h1>Weather App</h1>
        <br />
        <input type="text" class="form-control" name="Location" placeholder="Location" required
        />
        <br />
        <input type="submit" value="search"  class="btn-primary" style="padding: 5px;"/>
      </form>
      <br />
      <%if(data){%>
      <div
        class="data-render card"
        style="
          display: flex;
          flex-direction: vertical;
          width: 100%;
          height: 100%;">
        <ul style="list-style-type: none;" >
        <li>location : <%=data.name%></li>
          <li>temp : <%=data.main.temp%></li>
          <li>temp_min : <%=data.main.temp_min%></li>
          <li>temp_max : <%=data.main.temp_max%></li>
          <li>pressure : <%=data.main.pressure%></li>
          <li>humidity : <%=data.main.humidity%></li>
          <li>weather : <%=data.weather[0].main%></li>
        </ul>
      </div>
      <%}else{%>
        <div
        class="data-render card"
        style="
          display: flex;
          flex-direction: vertical;
          width: 100%;
          height: 100%;">
        <h1>No Results Found :(</h1>
        
      </div>
        <%}%>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
